/* custom-default.css */
/* @theme custom-default */

@import "default";

section {
  background-image: url("hasura-dark-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}
h1,
h2,
h3,
h4 {
  color: #3970fd !important;
}
